Repository nielse63/nielse63: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, markdownlint

.lintstagedrc:

{
  "*.js": [
    "eslint --fix",
    "git add"
  ],
  "*.md": [
    "markdownlint"
  ]
}

updated readmes of all packages
  packages/capitalize/README.md
  packages/debounce/README.md
  packages/debounce/lib/debounce.js
  packages/debounce/package.json
  packages/eslint-config/README.md
  packages/eslint-config/package.json
  packages/kebabcase/README.md
  packages/titlecase/README.md
Due: eslint --fix, markdownlint

added greenkeeper info
  README.md
  greenkeeper.json
Due: markdownlint

added codeclimate badge
  README.md
Due: markdownlint

Updated docs (#7)
  README.md
  greenkeeper.json
  packages/capitalize/README.md
  packages/debounce/README.md
  packages/debounce/lib/debounce.js
  packages/debounce/package.json
  packages/eslint-config/README.md
  packages/eslint-config/package.json
  packages/kebabcase/README.md
  packages/titlecase/README.md
Due: eslint --fix, markdownlint

fixed the release script
  package.json
Due: none

v0.0.3
  lerna.json
  packages/capitalize/package.json
  packages/debounce/package.json
  packages/eslint-config/package.json
  packages/kebabcase/package.json
  packages/titlecase/package.json
Due: none

fixed version issue
  lerna.json
  package.json
  packages/capitalize/package.json
  packages/debounce/package.json
  packages/eslint-config/package.json
  packages/kebabcase/package.json
  packages/titlecase/package.json
Due: none

v0.1.1
  lerna.json
  packages/capitalize/package.json
  packages/debounce/package.json
  packages/eslint-config/package.json
  packages/kebabcase/package.json
  packages/titlecase/package.json
Due: none

bumping version
  packages/capitalize/package.json
  packages/debounce/package.json
  packages/eslint-config/package.json
  packages/kebabcase/package.json
  packages/titlecase/package.json
Due: none

v0.1.2
  lerna.json
  packages/capitalize/package.json
  packages/debounce/package.json
  packages/eslint-config/package.json
  packages/kebabcase/package.json
  packages/titlecase/package.json
Due: none

fixed package.json error
  packages/capitalize/package.json
  packages/debounce/package.json
  packages/eslint-config/package.json
  packages/kebabcase/package.json
  packages/titlecase/package.json
Due: none

v0.1.3
  lerna.json
  packages/capitalize/package.json
  packages/debounce/package.json
  packages/eslint-config/package.json
  packages/kebabcase/package.json
  packages/titlecase/package.json
Due: none

feat(package): Created throttle package
  greenkeeper.json
  package.json
  packages/throttle/README.md
  packages/throttle/__tests__/throttle.test.js
  packages/throttle/index.js
  packages/throttle/lib/throttle.js
  packages/throttle/package.json
  yarn.lock
Due: eslint --fix, markdownlint

docs(docs): Updated readme in all packages
  packages/capitalize/README.md
  packages/debounce/README.md
  packages/debounce/__tests__/debounce.test.js
  packages/debounce/lib/debounce.js
  packages/eslint-config/README.md
  packages/kebabcase/README.md
  packages/titlecase/README.md
  scripts/new.js
  templates/{{package}}/README.md
  templates/{{package}}/package.json
Due: eslint --fix, markdownlint

Create throttle package (#12)
  greenkeeper.json
  package.json
  packages/capitalize/README.md
  packages/debounce/__tests__/debounce.test.js
  packages/debounce/lib/debounce.js
  packages/eslint-config/README.md
  packages/kebabcase/README.md
  packages/throttle/README.md
  packages/throttle/__tests__/throttle.test.js
  packages/throttle/index.js
  packages/throttle/lib/throttle.js
  packages/throttle/package.json
  packages/titlecase/README.md
  scripts/new.js
  templates/{{package}}/README.md
  yarn.lock
Due: eslint --fix, markdownlint

chore: updated yarn.lock
  yarn.lock
Due: none

chore: updated travis config
  .travis.yml
Due: none

chore: updated travis config (#14)
  .travis.yml
Due: none

chore: added GH_TOKEN to travis.yml
  .travis.yml
Due: none

v0.1.4
  lerna.json
  packages/debounce/package.json
  packages/throttle/package.json
Due: none

ci(travis): added release build stage
  .travis.yml
Due: none

chore(gh-templates): Created github templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/PULL_REQUEST_TEMPLATE.md
  .lintstagedrc
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  README.md
  packages/capitalize/README.md
  packages/debounce/README.md
  packages/eslint-config/README.md
  packages/kebabcase/README.md
  packages/throttle/README.md
  packages/titlecase/README.md
Due: markdownlint

ci(travis): added release build stage (#15)
  .travis.yml
Due: none

updated pr template
  .github/PULL_REQUEST_TEMPLATE.md
Due: markdownlint

updated release script
  .travis.yml
Due: none

added conditional to release
  .travis.yml
Due: none

Update release script (#17)
  .travis.yml
Due: none

Create GitHub templates (#16)
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/PULL_REQUEST_TEMPLATE.md
  .lintstagedrc
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  README.md
  packages/capitalize/README.md
  packages/debounce/README.md
  packages/eslint-config/README.md
  packages/kebabcase/README.md
  packages/throttle/README.md
  packages/titlecase/README.md
Due: markdownlint

updated lerna release script
  .travis.yml
  package.json
Due: none

ci: updated travis config
  .travis.yml
Due: none

ci: updated travis config
  lerna.json
Due: none

Updated lerna release script (#18)
  .travis.yml
  lerna.json
  package.json
Due: none

ci: updated deploy script
  .travis.yml
  lerna.json
Due: none

chore: updated lerna config
  lerna.json
Due: none

Update deploy command (#19)
  .travis.yml
  lerna.json
Due: none
